body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: black;
}

div {
  align-self: center;
}

h1 {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}
